
@{
    ViewData["Title"] = "Index";
}
@*<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/main.js"></script>*@
    <div>
        <a class="btn btn-primary" href="/Favorito/Crear" role="button">Agregar Favorito</a>
    </div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Es Favorito</th>
            <th scope="col">Pelicula</th>


        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdFavorito</td>
                <td>@item.EsFavorito</td>
                <td>@item.Pelicula.Nombre</td>


            </tr>
        }
    </tbody>
</table>

